In [1]:
#1)Was to print"Helloworld"
print("Hello world")

Hello world

In [5]:
#4)Was to initilize multivariable values are 150,120,250
a,b,c=150,120,250
print(a)
print(b)
print(c)

150
120
250

In [6]:
#5)Was to print the type of data given below
a=10+2j
print(type(a))
b=10
c=10.5
d={"a":10}
print(type(b))
print(type(c))
print(type(d))

<class 'complex'>
<class 'int'>
<class 'float'>
<class 'dict'>

In [4]:
#6)Was to print the addres of the memory block in given value
a={10:20}
id(a)

2292307374848

In [10]:
#7)Was to print your details,first store your details,extract the values and display it
name="Alekhya"
Age=20
Phone=9959447409
email="vahinit27@gmail.com"
height=5.6
pancard=True
print(name)
print(name,Age,Phone,email,height,pancard)
alekhya={'name':'alekhya',"age":20,"phone":9959447409,"height":5.6}
print(alekhya['age'])
print(alekhya['name'])

Alekhya
Alekhya 20 9959447409 vahinit27@gmail.com 5.6 True
20
alekhya

In [11]:
#8)Was to swap 2 values with temp variable
x="hai"
y="alekhya"
temp=x
x=y
y=temp
print(x)
print(y)

alekhya
hai

In [12]:
#9)was to swap 2 values with out temp variable
a=10
b=20
a,b=b,a
print(a)
print(b)

20
10

In [31]:
#10)was to initilize a value and print the value after print the value,the reinitilize the new value to the existing variable and display the value
ale={'a':"alekhya"}
print(a)
print(ale['a'])
ale['a']="akhil"
print(ale)
print(ale['a'])

{'a': 'alekhya'}
alekhya
{'a': 'akhil'}
akhil

In [39]:
#11.)was to convert single to multi value data type
a=10
a=str(a)
print(type(a))
print(a)
a=list(a)
print(a)

<class 'str'>
10
['1', '0']

In [25]:
#12)was to concat the two multivalue data types(str,list,tuple,set,dict)
#str
x="hi"
x+=" barbie"
print(x)
#list
y=[10,20,30]
y+=[40,50]
print(y)
a=[10,20,30]
a+="haii"
print(a)
b=[1,2,3]
b+=(10,20)
print(b)
c=[10,20,30]
c+={'a',99,'c'}
print(c)
d=[10,20,30]
d+={'a':"i","b":"know"}
print(d)
#tuple
e=(10,20,30)
e+=("a","b")
print(e)
#dict
i={"a":1,"b":2}
i|={"c":"taylor"}
print(i)

hi barbie
[10, 20, 30, 40, 50]
[10, 20, 30, 'h', 'a', 'i', 'i']
[1, 2, 3, 10, 20]
[10, 20, 30, 'a', 99, 'c']
[10, 20, 30, 'a', 'b']
(10, 20, 30, 'a', 'b')
{'a': 1, 'b': 2, 'c': 'taylor'}

In [57]:
#13)was to check the length of the collection
s={1,2,3,5,6,7,3}
print(len(s))

6

In [60]:
#14)wae to check the middle value of given collection
a=[10,20,30,40,50]
print(len(a))
print(a[len(a)//2])

5
30

In [62]:
#15)was to concat new string into the starting of the given string
a="hi"
b="barbie "
print(b+a)

barbie hi

In [64]:
#16)was to concat the new string into the ending of string
a="you are so "
b="gorgeous"
print(a+b)

you are so gorgeous

In [65]:
#17)was to concat the new string into the middle of the given string
a="ale"
b="hya"
a=a+"k"+b
print(a)

alekhya

In [12]:
#18)was to modify the new charecter into the middle of th string
a="aleKhya"
a[0:len(a)//2]+'k'+a[(len(a)//2)+1:]

'alekhya'

In [13]:
#19)was to modify the sequence of charecters in given string
s="ALEKHYA"
s[0:3]+"kh"+s[5:]

'ALEkhYA'

In [21]:
#20)was to replace the old charecter into a new charecter of string
s="ALEahYA"
s[0:3]+'KH'+s[5:]

'ALEKHYA'

In [3]:
#21)was to delete the specific charecter in string
s="alekhya"
s[0:4]+s[5:]

alekhya

In [5]:
#22)was to delete the sequence of charecters in string
s="canwealwaysbethisclose"
s[:3]+s[11:]

'canbethisclose'

In [9]:
#23)was to concat the new string into the specific position of string
a="your eyes have we meet!"
a[:10]+"whispered "+a[10:]

'your eyes whispered have we meet!'

In [14]:
#24)was to concat the new value into the starting of the list
a=[2,4,6,8]  #indexing
a=["t","s"]+a
print(a)
#slicing
b=[1,2,3]
b[0:0]=["a","b"]
print(b)

['t', 's', 2, 4, 6, 8]
['a', 'b', 1, 2, 3]

In [21]:
#25)was to concat the new value into the ending of the list
a=[1,2,3]
a=a+["hi","a"]
print(a)
b=['alekhya','suri']
b+=['devi','akhil']
print(b)
c=[1,2,3]
c[3:3]=[4,5,6]
print(c)

[1, 2, 3, 'hi', 'a']
['alekhya', 'suri', 'devi', 'akhil']
[1, 2, 3, 4, 5, 6]

In [26]:
#26)was to concat the new value into the middle of the list
a=[10,20,30,40]
print(len(a))                #even
a[len(a)//2:len(a)//2]=[1,2,3]
print(a)

a=[1,2,3,4,5]
a[len(a)//2:len(a)//2]=[10,20,30]     #odd
print(a)

4
[10, 20, 1, 2, 3, 30, 40]
[1, 2, 10, 20, 30, 3, 4, 5]

In [27]:
#27)was to concat the new value into the specific position of the list
a=[10,20,30,40,50]
a[2:2]=[1,2]
print(a)

[10, 20, 1, 2, 30, 40, 50]

In [28]:
#28)was to modify the new value into the specific position of the given list
a=[10,20,30,40,50]
a[3]=44
print(a)

[10, 20, 30, 44, 50]

In [30]:
#29)was t0 modify the new value into the starting of the list
a=['a','b','c']
a[0]=(10,20)
print(a)

[(10, 20), 'b', 'c']

In [31]:
#30)was to modify the new value into the ending of the list
a=[10,20,'a',20.3,'hi']
a[-1]='taylor'
print(a)

[10, 20, 'a', 20.3, 'taylor']

In [32]:
#31)was to modify the new value into the middle of the list
a=[1,2,3,4]
a[len(a)//2]='alekhya'
print(a)

[1, 2, 'alekhya', 4]

In [33]:
#32)was to modify the first 4 positions values into a list
a=[1,2,3,4,5,6,7,8,9]
a[:4]=['d','e','v','i']
print(a)

['d', 'e', 'v', 'i', 5, 6, 7, 8, 9]

In [34]:
#33)was to modify the sequence of values into a given list
a=[1,2,3,4,5,6,7,8,9]
a[::2]=['a','b','c','d','e']
print(a)

['a', 2, 'b', 4, 'c', 6, 'd', 8, 'e']

In [36]:
#34)was to delete the value in specific position of the list
s=[1,2,3,4,5]
del s[2]
print(s)

[1, 2, 4, 5]

In [39]:
 #35)was to delete the new value into the ending of the list
l=[1,2,3,4,5]
del l[-1]
print(l)

[1, 2, 3, 4]

In [41]:
#36)was to delete the new value into the starting of the list
s=[1,2,3,4,5]
s[0:1]=[]       #slicing
print(s)

a=[1,2,3,4,5]
del a[0]
print(a)

[2, 3, 4, 5]
[2, 3, 4, 5]

In [43]:
#37)was to delete the new value into the middle of the list
a=[1,2,3,4,5]
del a[len(a)//2]   #odd
print(a)

b=[1,2,3,5]    #even
del b[len(b)//2]
print(b)

[1, 2, 4, 5]
[1, 2, 5]

In [47]:
#38)was to concat the value in the starting of tuple
a=(10,20,30,40)
a=('a','b')+a
print(a)

('a', 'b', 10, 20, 30, 40)

In [48]:
#39)wap to concat the value at the middle of tuple.
a=(1,2,3,4,5)
a=a[:3]+('a','b')+a[3:]
print(a)

(1, 2, 3, 'a', 'b', 4, 5)

In [49]:
#40)wap to concatenate the new value at the ending of tuple
t=(1,2,3,4,5)
t+=('a','b')
print(t)

(1, 2, 3, 4, 5, 'a', 'b')

In [1]:
#41)was to modify sequence values in a tuple
t=(10,10.12,True,50)
print(t[0:1]+('modified',))

(10, 'modified')

In [2]:
#42)was to delete sequence of values in a tuple 
t=(10,10.12,True,'string',[10,True])
print(t[:1]+t[-1:])

(10, [10, True])

In [3]:
a=10
b=10
print(id(a))
print(id(b))

140726826296392
140726826296392

In [10]:
a="python"
print(a[1:4])

yth

In [11]:
a=tuple('hai')
print(a)

('h', 'a', 'i')

In [12]:
import copy
l=[10,50,60,80]
u=copy.deepcopy(l)
u[1:3]=[10,50,60]
print(l)
print(u)

[10, 50, 60, 80]
[10, 10, 50, 60, 80]

In [13]:
x=[115,'pys',{'A':14,(10,):{10,50}},(15,625),[15.06,80]]
y=x.copy()
x[2][(10,)]|={60,70}
y[-1]+=['a','b']
y[-2]+=(18)
print(x)

TypeError: can only concatenate tuple (not "int") to tuple

In [15]:
([5*2,2**2] or ('str'<"pys")) and ({10,20} and 'str')

'str'